# CircleCI automatically reads this file from our repo and uses it for
# configuration. Docs:
# https://circleci.com/docs/2.0/configuration-reference/
# https://circleci.com/docs/2.0/sample-config/
version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.9

    steps:
      - checkout

      - restore_cache:
          keys:
            - venv-2-{{ .Branch }}

      - run:
          name: Base dependencies
          command: |
            # google-cloud-sdk: https://cloud.google.com/sdk/docs/install#deb
            echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] https://packages.cloud.google.com/apt cloud-sdk main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
            curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key --keyring /usr/share/keyrings/cloud.google.gpg add -
            sudo apt-get update
            sudo apt-get install -y google-cloud-sdk google-cloud-cli-firestore-emulator openjdk-21-jre-headless
            git clone --depth=1 https://github.com/bluesky-social/atproto.git ../atproto

      - run:
          name: Python dependencies
          command: |
            pip install -U pip
            pip -V
            # TODO: remove six
            # https://github.com/googleapis/python-ndb/issues/913
            pip uninstall -y carbox dag-json lexrpc
            pip install -U .[datastore,flask] six 'git+https://github.com/snarfed/carbox.git#egg=carbox' 'git+https://github.com/snarfed/dag-json.git#egg=dag-json' 'git+https://github.com/snarfed/lexrpc.git#egg=lexrpc'
            pip install coverage coveralls flake8

      - run:
          name: Python tests
          command: |
            CLOUDSDK_CORE_PROJECT=brid-gy gcloud emulators firestore start --host-port=:8089 --database-mode=datastore-mode < /dev/null >& /tmp/firestore-emulator.log &
            sleep 2s
            python -m coverage run --include=arroba/\*.py -m unittest discover -v
            python -m coverage html -d /tmp/coverage_html
            if [ "$COVERALLS_REPO_TOKEN" != "" ]; then python -m coveralls || true; fi

            # check for unintentionally overridden test methods
            # https://flake8.pycqa.org/en/latest/user/error-codes.html#error-codes
            # https://flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-select
            flake8 --select=F811 tests/test_*.py

      - save_cache:
          key: venv-2-{{ .Branch }}
          paths:
            - /home/circleci/.pyenv

      - store_artifacts:
          path: /tmp/coverage_html
